* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: #ffffff;
  font-family: 'Caudex', serif;
}

.blue-text {
  color: #00DEEA;
}

nav {
  padding: 2% 5%;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 90%;
}

.body-bg {
  height: 100vh;
  background-image: url(/public/Images/bg.png);
}

.body-bg-screen {
  height: 100vh;
  background-color: #0000007d;
}

.hero-section-content {
  padding: 3% 0% 0% 5%;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.herosvg {
  width: 600px;
}


h1.hero-text {
  font-size: 4.5rem;
}

p.hero-text {
  font-size: 2rem;
}

.button {
  display: inline-block;
  margin-top: 17%;
  cursor: pointer;
  background-color: #01c38c75;
  padding: 3% 10%;
  border-radius: 5px;

}



.login-section-content {
  background-color: #69696993;
  margin: auto 10%;

  height: 70vh
}

img.hero-img {
  width: 80%;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5%;
}

.hero-txt {
  width: 50%;
}

.overall {
  display: flex;
  justify-content: space-between;
  align-items: center;
}