* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  /* color: #ffffff; */
  font-family: 'Caudex', serif;
}

.blue-text {
  color: #00DEEA;
}

nav {
  padding: 2% 5%;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 50%;
}

.body-bg {
  height: 100vh;
  color: #ffffff;
  background-image: url(/public/Images/bg.png);
}

.body-bg-screen {
  height: 100vh;
  background-color: #0000007d;
}

.hero-section-content {
  padding: 3% 0% 0% 5%;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.herosvg {
  width: 600px;
}

h1.hero-text {
  font-size: 4.5rem;
}

p.hero-text {
  font-size: 2rem;
}

.button {
  display: inline-block;
  margin-top: 17%;
  cursor: pointer;
  background-color: #01c38c75;
  padding: 3% 10%;
  border-radius: 5px;
}

.login-section-content {
  background-color: #69696993;
  margin: auto 10%;
  height: 70vh;
}

img.hero-img {
  width: 80%;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5%;
}

.hero-txt {
  width: 50%;
}

.container {
  display: flex;
  color: #000;
}

.navbar-dashboard {
  height: 100vh;
  width: 10%;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  padding-top: 2%;
  /* padding-bottom: 2%; */
  /* justify-content: space-around; */
  /* text-decoration: none; */
  color: white;
  align-items: center;
}

.dash-nav-links {
  width: 100%;
  text-align: center;
  padding: 2%;
}

.dashboard {
  width: 100vw;
  height: 100vh;
  background-color: #eeeeee;
}

.my-account-heading{
  margin: 2% 2%;
  text-align: center;
  color:blue
}

.balance{
  background-color: #ffffff;
  display: flex;
  width: 20vw;
  height: 30vh;
  margin: 5% 5%;
  border-radius: 3%;
}
.transaction{
  background-color: #ffffff;
  display: flex;
  width: 20vw;
  height: 30vh;
  margin: 5% 5%;
  border-radius: 3%;
}
.transactions{
  background-color: #ffffff;
  display: flex;
  width: 30vw;
  height: 30vh;
  margin: 5% 5%;
  border-radius: 3%;
  text-align: center;
}
.balance-heading{
  margin: auto;
  text-align: center;
  color: red;
  font-size: 5rem;
}

.num{
  margin-top: 15%;
  text-align: center;
  color:black ;
}

.cont{
  display: flex;
}